.photo {
	margin: 0px auto;
	position: relative;

	&__twitter {
		display: flex;
		align-items: center;
	}

	& .ant-card-extra,
	& .ant-card-head-title {
		padding: 10px 0 !important;
	}

	&-twitter {
		&__ava {
			display: block;
			width: 32px;
			height: 32px;
			border-radius: 100%;
			transition: all .3s;

			&:hover {
				opacity: .8;
			}
		}

		&__content {
			position: relative;
			margin-left: 5px;
			line-height: 15px;
		}

		&__user-name {
			padding: 0;
			margin: 0;
			color: #111;
			font-size: 15px;
			transition: all .3s;

			&:hover {
				opacity: .8;
			}
		}

		&__twitter-name {
			padding: 0;
			margin: 0;
			font-size: 11px;
			color: #999;
			transition: all .3s;

			&:hover {
				color: #111;
			}
		}
	}

	&-content {
		&__photo {
			position: relative;
			z-index: 1;
			display: block;
			margin: 0 auto;
			//width: 300px;
			// max-height: calc(100vh - 210px);
			// max-width: 100%;
			min-width: 200px;
			min-height: 200px;
		}
		&__footer {
			display: flex;
			justify-content: space-between;
			padding: 10px 10px;

			@media screen and ( min-width: 0px ) and ( max-width: 400px ) {
				padding: 10px 5px;

				& .ant-btn {
					margin-left: 5px;
					padding: 0 5px;
				}
			}
		}
	}

	&-footer {

		&__btns {
			display: flex;
		}

		&__tags {
			position: relative;
			& .ant-btn {
				margin-left: 0px !important;
			}
			@media screen and ( min-width: 0px ) and ( max-width: 400px ) {
				& .ant-btn {
					margin-left: 3px !important;
				}
			}
		}
	}
}

.ant-popover {
	max-width: 980px;
	.ant-popover-content {
		margin: 0 16px;
	}
	.ant-tag {
		margin-bottom: 8px !important;
		cursor: pointer;
	}
}

