.photo {
    margin: 50px auto;
}
.photo .ant-card-body {
    text-align: center;
}
    .photo__img {
        width: 100%;
    }
    .photo__btn-go-back {
        margin-top: 10px;
    }
    .photo-card {
        padding: 20px;
       
    }
    .photo-card .view {
        cursor: pointer;
    }
    .photo-card__user-ava {
        border-radius: 100%;
        margin-right: 4px;
        width: 22px;
    }


    .card-body {
        text-align: center;
    }

    .card-title {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
