.photo {
    margin: 50px auto;
    position: relative;
}
.photo__changed {
    position: relative;
    width: 100%;
    height: 100%;
}
.photo__spinner-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.photo .ant-card-body {
    text-align: center;
}
.photo__desc .ant-card-meta-title {
    font-size: 30px;
    margin-bottom: 20px;
}
.photo__desc .ant-card-meta-title::first-letter {
    text-transform: uppercase;
}
    .photo__img {
       width: 100%;
       z-index: 1;
       position: relative;
    }
    .photo__btn-go-back {
        margin-top: 10px;
    }
    .photo-card {
        padding: 20px;
       
    }
    .photo-card .view {
        cursor: pointer;
    }
    .photo-card__user-ava {
        border-radius: 100%;
        margin-right: 4px;
        width: 22px;
    }


    .card-body {
        text-align: center;
    }

    .card-title {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
