.download-button {
  &__popover {
    
  }
  &__btn.ant-btn {
    padding: 0 10px;

    & span {
      margin-left: 0;
    }
  }
  .ant-btn > .anticon + span, .ant-btn > span + .anticon {
    margin-left: 0px;
  }
  &__text {
    margin-left: 5px;
    display: inline;
  }
}
