.error {
  font-family: 'Fjalla One', sans-serif;
  position: relative;

  & .ant-btn {
    background: transparent !important;
    color: #fff !important;
    border: 1px solid #fff !important;
    font-size: 25px;
    padding: 25px !important;
    line-height: 0;

    &:hover {
      opacity: .8 !important;
    }
  }

  &__title {
    font-size: calc(1em + 4vw);
    font-weight: 400;
    color: #000;
  }

  &__subtitle {
    font-size: calc(1em + 6vw);
    font-weight: 400;
    color: #000;
  }
  &__bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    object-fit: cover;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 30px);
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
  }

  &__content-inner {
    text-align: center;
  }
}

.error.error_small-list {
  & .error__bg {
    display: none;
  }

  & .error__content {
    position: static;
    width: auto;
    height: auto;
    padding: 0 20px;
  }

  & .error__title {
    font-size: 16px;
  }
  & .error__subtitle {
    font-size: 22px;
  }
}