.profile-content {
	display: flex;
	margin: 0 auto;
	min-width: 280px;
	@media screen and ( min-width: 0px ) and ( max-width: 700px ) {
		width: 100%;
	}
	@media screen and ( min-width: 700px ) and ( max-width: 4700px ) {
		width: 700px;
	}
	&__avatar {
		min-width: 150px;
		min-height: 150px;
		width: 150px;
		height: 150px;
		border-radius: 100%;
		transition: all .3s;
		@media screen and ( min-width: 0px ) and ( max-width: 700px ) {
			min-width: 100px;
			min-height: 100px;
			width: 100px;
			height: 100px;
		}
		@media screen and ( min-width: 0px ) and ( max-width: 400px ) {
			min-width: 70px;
			min-height: 70px;
			width: 70px;
			height: 70px;
		}
	}

	&__title-wrap {
		margin-left: 40px;
		transition: all .3s;
		@media screen and ( min-width: 350px ) and ( max-width: 700px ) {
			margin-left: 20px;
		}
		@media screen and ( min-width: 0px ) and ( max-width: 350px ) {
			margin-left: 15px;
		}
	}

	&__title {
		display: flex;
		align-items: center;
		font-size: 40px;
		font-weight: 700;
		margin-bottom: 0;
		transition: all .3s;
		@media screen and ( min-width: 440px ) and ( max-width: 700px ) {
			font-size: 25px;
		}
		@media screen and ( min-width: 0px ) and ( max-width: 440px ) {
			line-height: 27px;
			font-size: 25px;
			margin-bottom: 4px;
		}
	}

	&__title-btn {
		margin: 10px 0 0 10px;
		transition: all .3s;
		@media screen and ( min-width: 0px ) and ( max-width: 700px ) {
			margin-top: 3px;
		}
	}

	&__text {
		font-size: 15px;
		font-weight: 400;
		color: #111;
	}
}