.header-row {
  position: sticky !important;
  z-index: 1 !important;;
  top: 0px;
  min-height: 64px;
  background: #fff;

  @media screen and ( min-width: 0px ) and ( max-width: 500px ) {
    min-height: 46px !important;
  }
}