.user {
    margin: 50px auto;
    max-width: 300px;
}
.user-layout {

}
.user-layout__header {
    background: #fff;
    border-bottom: 1px solid #cbcdd0;
    box-shadow: 0 1px 1px rgba(0,0,0,.15);
    padding: 0;
}
.user__icon-home {
    width: 25px;
    height: auto;
    margin-top: -7px;
}

.user__icon-home:hover {
    opacity: .7;
}
.user .ant-card-body {
    position: relative;
    z-index: 1;
    text-align: center;
}
.user-card__photo-wrap {
    display: flex;
    justify-content: center;
    margin-top: -75px;
}
.user-card__title {
    font-size: 18px;
    margin: 10px 0;
}
.user-card {
    padding: 20px;
}
.user-card__btn-go-back {
    margin-top: 10px;
}
.user-card__first-img {
    width: 300px;
    height: 300px;
    position: relative;
    z-index: 0;
    max-height: 300px;
    object-fit: fill;
}
.user-card__photo {
    width: 130px;
    margin: -50px auto 0;
    border-radius: 100%;
    z-index: 2;
}

.user-tabs {
    width: 100vw;
    max-width: 1024px;
    padding: 0 16px;
}

.user-tabs .ant-tabs-nav .ant-tabs-tab {
    margin: 0;
}
.user-tabs .ant-tabs-nav-container {
    text-align: center;
}
.user-tabs__pane {
    width: 100%;
}