.nav-top {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	position: relative;
	width: 100%;
	overflow: hidden;

	&::after {
		position: absolute;
		right: 0;
		top: 0;
		content: '';
		width: 40px;
		height: 38px;
		background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 36%,rgba(255,255,255,0.98) 97%,rgba(255,255,255,1) 98%,rgba(255,255,255,1) 100%);
	}
	&__item {
		& > div {
			cursor: pointer;
			font-size: 14px;
			padding: 10px 12px;
			line-height: 7px;
		}
	}
	&__item_border-right {
    border-right: 1px solid #ddd;
    margin-right: 10px;
	}
	&__btn {
		display: block;
		padding-bottom: 10px;
		padding-top: 10px;
		line-height: 1;
		font-size: 14px;
		white-space: nowrap;
		border: none;
		color: #999;
		cursor: pointer;
		outline: none;

		&:hover,
		&:focus,
		&_active {
			color: #722ed1;
			background: #f9f0ff;
			border-color: #d3adf7;
			outline: none;
		}
	}

}
