.nav-top {
    display: flex;
    list-style: none;
    margin: 0 0 20px;
    padding: 10px 0 15px;
    width: 100%;
    overflow: hidden;
    position: relative;
    position: sticky !important;
    z-index: 1 !important;
    top: 50px;
    background: #fff;
    margin-top: -15px;
    border-bottom: 1px solid #cbcdd0 !important;
    box-shadow: 0px 1px 1px rgba(0,0,0,.15) !important;

    &::after {
        position: absolute;
        right: 0;
        top: 0;
        content: '';
        width: 40px;
        height: 38px;
        background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 36%,rgba(255,255,255,0.98) 97%,rgba(255,255,255,1) 98%,rgba(255,255,255,1) 100%);
    }
    @media screen and ( min-width: 0px ) and ( max-width: 740px ) {
        top: 45px;
        padding: 10px 0 8px;
    }
}
.nav-top__item {
    & > div {
        cursor: pointer;
        font-size: 14px;
        padding: 10px 12px;
        line-height: 7px;
    }
}
.nav-top__item_border-right {
    border-right: 1px solid #ddd;
    margin-right: 10px;
}
.nav-top__btn {
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
    line-height: 1;
    font-size: 14px;
    white-space: nowrap;
    border: none;
    color: #999;
    cursor: pointer;
    outline: none;
}

.nav-top__btn:hover,
.nav-top__btn:focus,
.nav-top__btn_active {
    color: #722ed1;
    background: #f9f0ff;
    border-color: #d3adf7;
    outline: none;
}

