.search {
  position: sticky;
  right: 150px;
  left: 65px;
  top: 17px;
  height: 40px;
  z-index: 1;
  margin: -62px 140px 20px 45px;
  & svg {
    width: 20px;
    height: 20px;
  }
  & .ant-input {
    height: 31px !important;
  }
  @media screen and ( min-width: 0px ) and ( max-width: 500px ) {
    top: 6px;
    height: 30px;
    margin: -62px 69px 20px 38px;
    & .ant-input-suffix {
      right: 7px !important;
    }
    & .ant-input {
      height: 30px !important;
    }

    & svg {
      width: 15px;
      height: 15px;
    }
  }
}