.search {
  position: absolute;
  right: 150px;
  left: 65px;
  top: -33px;
  height: 40px;
  z-index: 1;

  & svg {
    width: 20px;
    height: 20px;
  }
  & .ant-input {
    height: 31px !important;
  }
  @media screen and ( min-width: 0px ) and ( max-width: 500px ) {
    left: 52px;
    right: 80px;
    top: -18px;
    height: 30px;
    & .ant-input-suffix {
      right: 7px !important;
    }
    & .ant-input {
      height: 30px !important;
    }

    & svg {
      width: 15px;
      height: 15px;
    }
  }
}