.photo-card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, calc(320px)));
  grid-gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    overflow: hidden;
  }
}

.photo-card {

  &__img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  &__desc {
    text-align: center;
    padding: 0 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.photo-card-autor {

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }

  &__avatar {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-right: 16px;
  }

  &__name {
    overflow: hidden;
    color: rgba(0,0,0,.85);
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.photo-card-badge {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 20px 20px;

  &__tag {
    margin: 5px !important;
  }
}