.badge {
    margin-right: 5px;
}

.photo-card {
 
}

.photo-card .Ripple-parent {
    position: relative;
    padding-bottom: 75%;
}

.photo-card .photo-card__img {
    position: absolute;
    height: 100%;
    max-width: none;
}