.badge {
    margin-right: 5px;
}
.photo-list {
    max-width: 900px;
    margin: 0 auto;
}
.photo-card {
 
}

div.photo-card .view .Ripple-parent {
    position: relative;
    padding-bottom: 75%;
}

div.photo-card  .view .photo-card__img {
    position: absolute;
    height: 100%;
    max-width: none;
    left: 50%;
    transform: translate(-50%,0);
}