.photo-card-list {
  margin-left: -10px;
  padding: 0;
  list-style: none;
  display: flex;

  &__autor {
    position: absolute;
    left: 10px;
    top: 0;
  }

  & .likes-button {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  &__desc {
    position: absolute;
    right: 10px;
    left: 10px;
    bottom: 40px;
  }

  &__tags {
    position: absolute;
    left: 10px;
    bottom: 12px;
  }

  & .download-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }

  &__autor,
  &__tags,
  &__desc,
  & .download-button,
  & .likes-button {
    display: none;
  }

  &.photo-card-list_theme_mobile {
    & .photo-card-list__autor,
    & .photo-card-list__tags,
    & .photo-card-list__desc,
    & .download-button,
    & .likes-button {
      color: #000;
      display: block;
      position: static;
    }

    & .photo-card-list__autor {
      & .photo-card-autor__name {
        color: #000;
      }
    }

    & .photo-card-list__tags {
      & .tag {
        color: #fff;
        background: #000;
      }
    }
  }

  &__item {
    position: relative;
    width: calc(100%/3 - 10px);
    margin: 0 0 10px 10px;

    @media screen and ( min-width: 741px ) and ( max-width: 980px ) {
      width: calc(100%/2 - 10px);
    }
    @media screen and ( min-width: 0px ) and ( max-width: 740px) {
      width: calc(100% - 10px);
    }

    &:hover {
      & .photo-card-list__autor,
      & .photo-card-list__tags,
      & .photo-card-list__desc,
      & .download-button,
      & .likes-button {
        display: block;
      }
    }
  }

  &.photo-card-list_theme_mobile {
    & .photo-card-list__item {
      margin-bottom: 0;
      & .photo-card-list__header,
      & .photo-card-list__footer {
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}

