.header {
  position: sticky;
  top: 0px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 10px 0;
  background: #fff;

  &__logo {
    display: flex;
    height:  34.8px;
  }
}