.user-layout__header {
  background: #fff !important;
  //border-bottom: 1px solid #cbcdd0 !important;
  //box-shadow: 0 1px 1px rgba(0,0,0,.15) !important;
  border-bottom: 0 !important; 
  box-shadow: none !important;
  padding: 0 !important;

  @media screen and ( min-width: 0px ) and ( max-width: 740px ) {
    height: 40px !important;
    line-height: normal !important;
  }
}

.user-layout-header {
  &__login {
    position: absolute;
    right: 0;
    white-space: nowrap;
    width: 200px;
    text-align: right;
    top: 0px;

    @media screen and ( min-width: 0px ) and ( max-width: 740px ) {
      
    }
  }
}
.user-avatar-empty {
  width: 30px;
  margin-left: 10px;
  display: inline-block;
  margin-bottom: 2px;

  @media screen and ( min-width: 0px ) and ( max-width: 740px ) {
    width: 27px;
    margin-bottom: 1px;
  }
}
.user-avatar {
  border-radius: 50%;
  width: 32px;
  margin-bottom: 3px;
  margin-left: 6px;
  @media screen and ( min-width: 0px ) and ( max-width: 740px ) {
    width: 28px;
    margin-bottom: 16px;
  }
}
.btn-login {
  margin-left: 10px;
  padding: 0 20px !important;
  width: 90px;
  @media screen and ( min-width: 0px ) and ( max-width: 740px ) {
    padding: 0 5px !important;
    display: none !important;
  }
}
.logout-icon {
  display: none;
  width: 26px;
  @media screen and ( min-width: 0px ) and ( max-width: 740px ) {
    display: block;
    margin-top: 9px;
  }
}
.btn-logout {
  width: 90px;
  margin-left: 10px;
  padding: 0 20px;
  @media screen and ( min-width: 0px ) and ( max-width: 740px ) {
    padding: 0 5px !important;
    display: none !important;
  }
}
.login-icon-link {
  display: none;
  width: 20px;
  margin-bottom: 8px;
  & .login-icon {
    display: block;
    width: 100%;
  }
  @media screen and ( min-width: 0px ) and ( max-width: 740px ) {
    vertical-align: middle;
    display: inline-block;
    width: 27px;
    margin-top: 8px;
  }
}
.site-logo {
  font-family: 'Fjalla One', sans-serif;
  position: relative;
  width: 39px;
  &__img {
    width: 100%;
    margin-bottom: 7px;

    @media screen and ( min-width: 0px ) and ( max-width: 740px ) {
      margin-bottom: 0;
    }
  }

  &:hover {
    opacity: .7;
  }

  @media screen and ( min-width: 0px ) and ( max-width: 740px ) {
    width: 31px;
    margin-top: 5px;
  }
  // @media screen and ( min-width: 0px ) and ( max-width: 400px ) {
  //   font-size: 18px;
  // }
}

