body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.page {
  max-width: 1024px;
  padding: 0 15px;
  box-sizing: border-box;
  margin:  0 auto;
  @media screen and ( min-width: 0px ) and ( max-width: 400px ) {
    padding: 0 10px;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.flex-container {
  display: flex;
}
.md-form {
  margin-top: 0;
}

.photo-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
  .photo-list__item {
    width: calc(100% / 3);
    box-sizing: border-box;
    margin-bottom: 20px;
    min-width: 300px;
  }
  .photo-list__img {
    max-width: 100%;
  }

.dropdown-item {
  display: flex;
  justify-content: space-between;
}
.check {
  margin-left: 3px;
}
.filter-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 0 30px;
  padding: 0;
}



@media (min-width: 00px) and (max-width: 400px) {
  .filter__toggler {
    width: calc(100vw - 3rem);
  }
}